body{
	background-image: url(../assets/patron.jpg);
}

main{

	width:1000px;
	min-height: 400px;
	background-color: rgba(9, 79, 109, 0.5);
	position: relative;
	margin: 30px auto;
}

header.principal{
	position:relative;
	width: 100%;
	height: 200px;
	border-bottom: 1px solid black;
	background-color: #01050c ; 
	*background-color: #00BFFF; 
	background-image: url(../assets/pluma1.jpg);
	
}

header.principal div.logo{
	position: relative;
	width: 150px;
	height: 150px;
	border: 1px solid #999;
	top: 24px;
	left: 24px;
	background-image: url(../assets/css.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

header.principal h1{
	position:absolute;
	top: 60px;
	left: 200px;
	color: rgb(255, 255, 255);
	*color: #fff;
}

nav.nav_horizontal {
	border-bottom: 1px solid #000;
	background-color: rgb(4, 23, 31);
}

nav.nav_horizontal ul{
	position: relative;
	border: 0px;
	padding: 0px;
	margin: 0px;
}

nav.nav_horizontal li{
	position: relative;
	border: 0px;
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: inline-block;
	vertical-align: top;
}

nav.nav_horizontal li a{
	position: relative;
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	color: #00BFFF;
	font-weight: bold;
}

nav.nav_horizontal li a:hover{
	background-color: #00BFFF;
	color: #fff;
}

nav.nav_horizontal li a:active{
	background-color: #45FDE7;
	color: #253338;
}

#slideshow{
	position: relative;
	background-color: #fff;
	border:2px dotted #000;
	width: 700px;
	height: 250px;
	margin: 20px auto;
}

#slideshow button{
	background-color: rgb(4, 23, 31);
	width: 50px;
	height: 50px;
	border: 1px solid #000;
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
	top: 100px;
	
}

button.prev{
	left: -25px;	
}

button.next{
	right: -25px;
}
#slideshow button:hover{
	background-color: #102933 ;
	color: #FFFFFF;
}
#slideshow button:active{
	background-color: #000;
	color: #fff;
}

.col{
	display: inline-block;
	vertical-align: top;
	*border: 1px solid #000;
	width: 330px;
	min-height: 200px;
	background-color: rgba(255,255,255,.7);
	border-top: 3px solid #00BFFF;
}

.col header{
	text-align: center;
}

.col header img{
	width: 60px;
	height: 60px;
	border: 2px solid #00BFFF;
	margin-top: -30px;
	background-color: #fff;
	border-radius: 50%;

}

div.cols{
	position: relative;
	margin-top: 40px;

}


div.cols p{
	padding: 20px;
	text-justify: auto;

}
footer.principal{
	
	position:relative;
	width: 100%;
	height: 100px;
	border-bottom: 1px solid black;
	*background-color: rgb(4, 23, 31) ; 
	*background-color: #00BFFF; 
	margin-top: 1px;
	text-align: start;
	background-image: url(../assets/pluma2.jpg);
}

footer.principal h5{
	position:absolute;
	color: #00BFFF;
	top: 5px;
    left: 55px;
	

}